{
	"extends": "@remotion",
	"env": {
		"node": true
	},
	"rules": {
		"react/prefer-read-only-props": "off",
    "react/jsx-pascal-case": "off",
		"camelcase": "off",
		"react/boolean-prop-naming": "off", // TODO re-enable
		"react/no-unused-prop-types": "off",
   	"no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
